:root {
  /*
   * Layout
   * ======================================================================== */

  /* Spaces */
  --space: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 96px;
  --space-11: 128px;
  --space-12: 136px;

  /* Negative spaces */
  --space-n: -8px;
  --space-2-n: -12px;

  /* Spaces mobile */
  --space-mobile: 112px;

  /* TopBar Heights */
  --topbar-height: 56px;

  /*
   * Layout
   * ======================================================================== */

  --container-gap: var(--space-4);
  --container-width: 1160px;
  --container-max-width:
    calc(
      var(--container-width) + (var(--container-gap) * 2)
    );
  --content-max-width: 808px;

  /*
   * Typography
   * ======================================================================== */

  --base-font-family: 'Barlow', system-ui;
  --base-font-color: var(--grey);
  --base-font-size: 16px;
  --base-line-height: 21px;

  /*
   * Colors
   * ======================================================================== */

  --black: rgb(13, 13, 13);
  --white: rgb(255, 255, 255);
  --light-violet: rgb(207, 187, 254);
  --violet: rgb(104, 66, 255);
  --orange: rgb(255, 143, 39);
  --pastel-orange: rgb(255, 215, 188);
  --lime: rgb(24, 232, 107);
  --light-grey: rgb(239, 239, 239);
  --grey: rgb(164, 164, 164);
  --dark-grey: rgb(32, 32, 35);
  --almost-black: rgb(20, 20, 21);
  --absolute-black: rgb(0, 0, 0);

  /* Buttons colors */
  --primary-button-color: var(--lime);
  --secondary-button-color: var(--white);

  /* Layout colors */
  --base-background-color: var(--black);

  /*
   * Layers
   * ======================================================================== */

  --hub-layer: 66;
  --notification-layer: 99;
  --topbar-layer: 666;
}

@custom-media --xs-viewport only screen and (width >= 28em);
@custom-media --sm-viewport only screen and (width >= 50em);
@custom-media --sm-viewport-down only screen and (width < 50em);
@custom-media --md-viewport only screen and (width >= 66em);
@custom-media --md-viewport-down only screen and (width < 66em);
@custom-media --lg-viewport only screen and (width >= 76em);

@custom-selector :--headings h2, h3, h4, h5, h6;
@custom-selector :--enter :hover, :focus;
