@tailwind base;
@tailwind components;
@tailwind utilities;  

@layer utilities {
  .thumb-corners-polygon {
    clip-path: polygon(50% 0, 100% 33%, 100% 100%, 0 100%, 0% 33%);
  }

  .cta-clip-path {
    clip-path: polygon(100% 0, 100% 100%, calc(0% + 8px) 100%, 0 calc(100% - 8px), 0 0);
  }

  .bar-clip-path {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 40% 100%, 40.5% 90%, 100% 90%);
  }

  .cta-tr-corner {
    clip-path: polygon(calc(100% - 8px) 0, 100% calc(0% + 8px) , 100% 100%, 0 100%, 0 0);
  }

  .bonus-wrapper-hexagon {
    position: relative;
    clip-path: polygon(0% 0%, 98% 0%, 100% 5%, 100% 100%, 2% 100%, 0% 95%);

  }
  .bonus-percent-hexagon {
    position: relative;
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
  }
  .is-border.bonus-percent-hexagon::before,
  .bonus-wrapper-hexagon::before
   {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: rgb(20, 20, 21);
    clip-path: inherit;
  }

  .button {
    align-items: center;
    /* text-decoration: none; */
    cursor: pointer;
    user-select: none;
    /* border: 0; */
    outline: none;
  }

  .side-bar-gradient {
    background: linear-gradient(180deg, rgba(32, 32, 35, 0.74) 0%, #202023 100%);
  }
  
}

.card-clip-path {
  clip-path: polygon(calc(100% - 8px) 0, 100% calc(0% + 8px), 100% 100%, calc(0% + 8px) 100%, 0 calc(100% - 8px), 0 0);
}

.group:hover .card-clip-path {
  clip-path: polygon(calc(100% - 8px) 0, 100% calc(0% + 8px), 100% 100%, 0% 100%, 0 100%, 0 0);
}

.card-top-bar-clip-path {
  clip-path: polygon(calc(100% - 8px) 0, 100% calc(0% + 8px), 100% 100%, calc(0% + 0px) 100%, 0 calc(100% - 0px), 0 0);
}

@font-face {
  font-family: 'Barlow';
  src:
    url('./assets/fonts/Barlow-Medium.ttf'),
    url('./assets/fonts/Barlow-Bold.ttf'),
    url('./assets/fonts/Barlow-Regular.ttf');
}
body {
  font-family: 'Barlow';
  font-weight: 500;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
}


.button {
  transition: .2s linear
}

.hover:hover {
  filter: brightness(1.1);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 5px;
}
.each-capitalized:first-line {
  text-transform: capitalize;
}

.marked-list p {
  position: relative;
  color:white;
  margin-left: 20px;
  font-size: 14px;
  line-height: 14px;
}

.marked-list p::before {
  content: '';
  background-image: url(assets/img/funds/checked.svg);
  width: 13px;
  height: 10px;
  position: absolute;
  left: -20px;
  top: 3px
}

/* react-slick styles */
.card-slider .slick-list {
  padding: 24px 0;
}
.card-slider .slick-track {
  display: flex;
  margin: 0 -2px;
}
.card-slider .slick-slide {
  padding: 0 2px;
  flex: auto;
  height: auto;
}
.card-slider .slick-slide > div {
  height: 100%;
}
.card-slider .slick-next::before,
.card-slider .slick-prev::before {
  content: '';
}
.card-slider .slick-prev {
  top: 45%;
  left: -40px;
}
.card-slider .slick-next {
  top: 45%;
  right: -30px;
}
.card-slider .slick-disabled {
  visibility: hidden;
}

/* trust-pilot vidget */

.trustpilot-widget {
  height: 100%;
  position: relative;
  width: 100%;
}






