@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cta-clip-path {
    clip-path: polygon(100% 0, 100% 100%, calc(0% + 8px) 100%, 0 calc(100% - 8px), 0 0);
  }

  .bar-clip-path {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 40% 100%, 40.5% 90%, 100% 90%);
  }

  .button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 0;
    outline: none;
  }
}

@font-face {
  font-family: 'Barlow';
  src:
    url('./assets/fonts/Barlow-Medium.ttf'),
    url('./assets/fonts/Barlow-Bold.ttf'),
    url('./assets/fonts/Barlow-Regular.ttf');
}

body {
  height: 2000px;
}